[Desktop Entry]
Name=Example App
Comment=Application example
Exec=exampleapp
Icon=exampleapp
Terminal=false
Type=Application
Categories=Utility;System;
